<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormAnimation2D.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <WinFormAnimation2D.Properties.Settings>
            <setting name="TriangulateMesh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderAllBoneBounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderAllMeshBounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveCamera" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixCameraPlane" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OrbitingCamera" serializeAs="String">
                <value>True</value>
            </setting>
        </WinFormAnimation2D.Properties.Settings>
    </userSettings>
</configuration>
